## --- Backend (WebBanHang) ---
WebBanHang/appsettings.json
WebBanHang/appsettings.Development.json
WebBanHang/bin/
WebBanHang/obj/
WebBanHang/Logs/
WebBanHang/Migrations/

## --- Frontend (FEWebBanHang) ---
FEWebBanHang/node_modules/
FEWebBanHang/dist/
FEWebBanHang/.env