<div class="container-fluid">
    <div class="mb-3 header d-flex align-items-center">
        <div class=" ">
            <small class="text-muted">MERCHANT COMMAND CENTER</small>
            <h3 class="fw-bold">Marketplace Pulse</h3>
            
        </div>
    </div>
    @if (loading()) {
        <div class="text-center py-5">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }@else {
        @if (dashboardStats();as d) {
            <!--CArd stats-->
            <div class="card-stats row row-cols-1 row-cols-md-4 row-cols-lg-6 g-3 mb-5">
                <div class="col">
                    <div class="card shadow-sm h-100 border-0 clickable-card" (click)="changeMetric('Revenue')">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <span class="text-muted small fw-bold">Revenue (Today)</span>
                                <i class="fa-solid fa-dollar-sign text-primary"></i>
                            </div>
                            <div class="fs-5 fw-bold">{{d.totalRevenueToDay|number:'1.0-0'}}đ</div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm h-100 border-0 clickable-card" (click)="changeMetric('Revenue'); changeRanger('Month')">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <span class="text-muted small fw-bold">Revenue (Month)</span>
                                <i class="fa-solid fa-calendar-days text-success"></i>
                            </div>
                            <div class="fs-5 fw-bold">{{d.totalRevenueThisMonth|number:'1.0-0'}}đ</div>
                            <div class="mt-2" style="font-size: 0.7rem;">
                                @let diff = d.totalRevenueThisMonth - d.totalRevenueLastMonth;
                                <span [class.text-success]="diff > 0" [class.text-danger]="diff < 0">
                                    <i class="fa-solid" [class.fa-arrow-up]="diff > 0" [class.fa-arrow-down]="diff < 0"></i>
                                    {{ (diff > 0 ? '+' : '') + (diff | number:'1.0-0') }}đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class=" card-order card shadow-sm border-0 h-100" (click)="changeMetric('Orders')">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Orders (Today)</span>
                                <span>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </span>
                            </div>
                            <div class="fs-4 fw-bold">{{d.totalOrdersToDay|number}} Orders</div>
                            <div class="mt-2 small">
                                <span class="text-muted">Pending Orders: </span>
                                <span class="fw-medium text-dark">{{d.pendingOrders}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class=" card-product card shadow-sm border-0 h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Products</span>
                                <span>
                                    <i class="fa-solid fa-box"></i>
                                </span>
                            </div>
                            <div class="fs-4 fw-bold">{{d.totalProducts|number}}</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class=" card-rating card shadow-sm border-0 h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Rating</span>
                                <span>
                                    <i class="fa-solid fa-star text-warning"></i>
                                </span>
                            </div>
                            <div class="rating-star ">
                                @for (star of [1,2,3,4,5]; track $index) {
                                    <i class="fa-star "[class.fas]="star <=d.averageRating"[class.far]="star >d.averageRating"[style.color]="star <= d.averageRating ? '#ffc107' : '#e4e5e9'"></i>
                                }
                                
                            </div>
                            <div class="mt-2 small">
                                <span class="fw-medium text-dark">{{d.totalReviews|number}} </span>
                                <span class="text-muted">Total reviews</span>
                            </div>                 
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class=" card-grow card shadow-sm h-100 border-0 bg-black text-white">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Growth</span>
                                <span>
                                    <i class="fa-solid fa-chart-line"></i>
                                </span>
                            </div>
                            <div class="fs-4 fw-bold">{{d.revenueGrowth|number:'1.0-2'}}%</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--CardOrders-->
            <div class="card-order card mb-5 p-3">
                <div class="mb-2">
                    <span class="text-muted"><i class="fa-solid fa-clipboard-list"></i></span>
                    <span class="fw-bold text-muted">Order Status Summary</span>
                </div>
                <div class="d-flex align-items-center justify-content-around flex-wrap">
                    <div class="card-pending d-flex align-items-center">
                        <span class="bg-warning-subtle text-warning rounded-circle p-4 me-2"><i class="fa-solid fa-hourglass-half"></i></span>
                        <div class="">
                            <div class="fw-bold fs-1">{{d.pendingOrders}}</div>
                            <span class="text-muted">Pending</span>
                        </div>
                    </div>
                    <span class="vr d-none d-md-block"></span>
                    <div class="card-pending d-flex align-items-center">
                        <span class="bg-primary-subtle text-primary rounded-circle p-4 me-2"><i class="fa-solid fa-arrows-rotate"></i></span>
                        <div class="">
                            <div class="fw-bold fs-1">{{d.processingOrders}}</div>
                            <span class="text-muted">Processing</span>
                        </div>
                    </div>
                    <span class="vr d-none d-md-block"></span>
                    <div class="card-pending d-flex align-items-center">
                        <span class="bg-success-subtle text-success rounded-circle p-4 me-2"><i class="fa-solid fa-truck-fast"></i></span>
                        <div class="">
                            <div class="fw-bold fs-1">{{d.shippedOrders}}</div>
                            <span class="text-muted">Shipped</span>
                        </div>
                    </div>
                    <span class="vr d-none d-md-block"></span>
                    <div class="card-pending d-flex align-items-center">
                        <span class="bg-danger-subtle text-danger rounded-circle p-4 me-2"><i class="fa-solid fa-circle-xmark  "></i></span>
                        <div class="">
                            <div class="fw-bold fs-1">{{d.cancelledOrders}}</div>
                            <span class="text-muted">Cancelled</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <!--row2-->
            <div class="d-flex  mb-5 align-items-stretch justify-content-between">
                <!--OrderProcess-->
                <div class="list-order card h-100 me-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <div class="fw-bold fs-5 "> Order Process</div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover align-middle">
                                <thead>
                                    <tr class="text-center">
                                        <th style="width: 5%;">#</th>
                                        <th style="width: 20%;">Order Date</th>
                                        <th style="width: 25%;">Customer Name</th>
                                        <th style="width: 20%;">Total Amount</th>
                                        <th style="width: 15%;">Status</th>
                                        <th style="width: 15%;">Payment</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(d.ordersProcess.length>0){
                                        @for (o of d.ordersProcess; track o.orderId;let i=$index){
                                            @let infor = getStatusDetails(o.status);
                                            @let paymentInfor = getPaymentStatusDetails(o.paymentStatus);
                                            <tr>
                                                <td class="text-center">{{i+1}}</td>
                                                <td class="text-center text-muted">{{o.orderDate|timeAgo}}</td>
                                                <td class="fw-medium text-center">{{o.customerName}}</td>
                                                <td class="text-end fw-bold">{{o.totalAmount|number:'1.0-0'}}đ</td>
                                                <td class="text-center">
                                                    <span class="badge {{infor.class}}">{{infor.text}}</span></td>
                                                <td class="text-center">
                                                    <span class="badge {{paymentInfor.class}} small">{{paymentInfor.text}}</span></td>
                                            </tr>
                                        }
                                    }@else {
                                        <tr>
                                            <td colspan="6" class="text-center text-muted py-4"> There are no order processes yet .</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--low stock -->
                <div class="list-error-inventory card bg-danger-subtle h-100 " >
                    <div class="card-body ">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="fw-bold text-danger fs-5"><i class="fa-solid fa-triangle-exclamation"></i>Low Stock Alerts</div>
                            <div class="text-danger fw-bold">{{d.errorInventory.length}} items</div>
                        </div>
                        @if (d.errorInventory.length>0) {
                            @for (i of d.errorInventory; track i.productId) {
                                <div class="d-flex align-items-center justify-content-between bg-light rounded p-2 mb-2">
                                    <div class="me-5">
                                        <div class="fw-bold">{{i.productName}}</div>
                                        <small class="text-muted">{{i.sku}}</small>
                                    </div>
                                    @if (i.stockQuantity>0) {
                                        <div class="text-warning fw-bold"><i class="fa-solid fa-triangle-exclamation"></i> {{i.stockQuantity}} left</div> 
                                    }@else if(i.stockQuantity <=0){
                                        <div class="text-danger fw-bold"><i class="fa-solid fa-triangle-exclamation"></i> Out of stock</div>
                                    }
                                </div>
                            }
                        }@else {
                            <div class="text-center text-muted">No low stock products</div>
                        }
                    </div>
                </div>
            </div>
            <!--Chart-->
            <div class="d-flex mb-5">
                <div class="chart card shadow-sm p-4 me-5">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <div class="fs-4 fw-bold">Revenue and Orders</div>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm"[class.active]="ranger()==='Week'" (click)="changeRanger('Week')">Week</button>
                            <button class="btn btn-primary btn-sm"[class.active]="ranger()==='Month'" (click)="changeRanger('Month')">Month</button>
                            <button class="btn btn-primary btn-sm"[class.active]="ranger()==='Year'" (click)="changeRanger('Year')">Year</button>
                        </div>
                    </div>
                    <div class="d-flex gap-2 mb-2 flex-wrap justify-content-end">
                        <button class="btn btn-outline-secondary btn-sm"
                                [class.active]="selectMetric()==='All'"
                                (click)="changeMetric('All')">All</button>
                
                        <button class="btn btn-outline-secondary btn-sm"
                                [class.active]="selectMetric()==='Revenue'"
                                (click)="changeMetric('Revenue')">Revenue</button>
                
                        <button class="btn btn-outline-secondary btn-sm"
                                [class.active]="selectMetric()==='Orders'"
                                (click)="changeMetric('Orders')">Orders</button>
                    </div>
                    <div class="chart-warp">
                        <canvas baseChart [type]="'line'"[data]="chartData()"[options]="chartOptions"></canvas>
                    </div>
                </div>
                <!--top product-->
                <div>
                    <div class="list-top-product  card shadow-sm h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <div class="fw-bold fs-5">Top Products</div>
                                
                            </div>
                            @if (d.topSellingProducts.length>0) {
                                @for (t of d.topSellingProducts; track t.productId) {
                                    <div class="d-flex align-items-center justify-content-between mb-2"  style="width: 400px;">
                                        <img [src]="t.imageUrl" [alt]="t.productName" class="me-3" style="width:50px;height: 50px;object-fit: cover;">
                                        <div class="me-3"> 
                                            <div class="fw-bold">{{t.productName}}</div>
                                            <small class=" text-muted">{{t.sku}}</small>
                                        </div>
                                        <div>
                                            <div class="fw-bold">{{t.totalRevenue|number:'1.0-0'}}đ</div>
                                            <small class="text-muted">{{t.quantitySold}} sold</small>
                                        </div>
                                        
                                    </div>
                                    <hr>
                                }
                            }@else {
                                <div class="text-center text-muted">No top seller products</div>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
            <!--recent review-->
            <div class="list-recent-review card shadow-sm p-3">
                <div class="card-body p-0">
                    <div class="fw-bold fs-5 mb-3">Recent Reviews</div>

                    <div class="d-flex flex-nowrap overflow-auto pb-3 custom-scrollbar" style="gap: 1rem;">
                        
                        @if(d.recentRatings.length > 0) {
                            @for (r of d.recentRatings; track r.reviewId) {
                                <div class="card shadow-sm border-0" style=" width: 30%;min-width: calc(33.333% - 0.7rem); flex: 0 0 auto;">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <div class="d-flex align-items-center">
                                                <img [src]="r.imageUrl" [alt]="r.productName" class="me-2 rounded" 
                                                    style="width: 45px; height: 45px; object-fit: cover;">
                                                <div style="max-width: 150px;">
                                                    <div class="text-truncate fw-bold" style="font-size: 0.9rem;">{{r.productName}}</div>
                                                    <small class="text-muted d-block" style="font-size: 0.75rem;">{{r.sku}}</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="rating-stars mb-2">
                                            @for (star of [1,2,3,4,5]; track $index) {
                                                <i class="fa-star" 
                                                [class.fas]="star <= r.rating" 
                                                [class.far]="star > r.rating"
                                                [style.color]="star <= r.rating ? '#ffc107' : '#e4e5e9'" 
                                                style="font-size: 0.8rem;"></i>
                                            }
                                        </div>

                                        <div class="comment mb-3 text-secondary " >
                                            "{{r.comment || 'No comment'}}"
                                        </div>

                                        <div class="d-flex align-items-center justify-content-between border-top pt-2" style="font-size: 0.75rem;">
                                            <div class="fw-bold text-dark">{{r.customerName}}</div>
                                            <div class="text-muted">{{r.reviewDate | timeAgo}}</div>
                                        </div>
                                    </div>
                                </div>
                            }
                        } @else {
                            <div class="w-100 text-center text-muted p-5 bg-white rounded shadow-sm">
                                No recent reviews
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    }
    
</div>