.container-fluid {
    padding: 20px;
    .container-card{
        display: flex;
        align-items: center;
        justify-content: center;
        .card{
            width: 70%;
            margin-top: 10px;
            padding: 20px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            background-color: #ffffff;
            .card-detail{
                gap: 10px;
                display: flex;
                flex-direction: column;

                .seller{
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
            }
        }
        
    }
}