<div class="container-signin d-flex justify-content-center align-items-center p-3">
    <div class="signin-card bg-white p-5 rounded-4 shadow ">
        <div class="text-center mb-4">
            <div class=" icon-circle bg-primary text-white mx-auto mb-3">
                <i class="bi bi-person-fill fs-1"></i>
            </div>
            <h2 class="fw-bold text-dark">Đăng Nhập</h2>
            <p class="text-secondary">Chào mừng trở lại!</p>
        </div>
        <div *ngIf="errorMsg()" class="alert alert-danger py-2">
                {{ errorMsg() }}
        </div>
        <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
            <div class="mb-3 auth-input" >
                <label for="email" class="form-label fw-bold">Email(admin@gmail.com)</label>
                <div class="input-group">
                    <span class="input-group-text bg-light border-end-0 text-muted" [class.icon-invalid]="f.email.touched && f.email.invalid">
                        <i class="bi bi-envelope"></i>
                    </span>
                    <input type="email" id="email" name="email" class="form-control bg-light border-start-0 shadow-none "  placeholder="example@email.com"[class.is-invalid]="f.email.touched && f.email.invalid" formControlName="email">
                </div>
                @if (f.email.touched&&f.email.invalid) {
                    <div class="invalid-feedback d-block" >
                        <span *ngIf="f.email.errors?.['required']">Vui lòng nhập email.</span>
                        <span *ngIf="f.email.errors?.['email']">Email không hợp lệ.</span>
                    </div>
                }
            </div>
            
            <div class="mb-3 auth-input">
                <label for="password" class="form-label fw-bold">Password(admin123)</label>
                <div class="input-group">
                    <span class="input-group-text bg-light border-end-0 text-muted"[class.icon-invalid]="f.password.touched && f.password.invalid">
                        <i class="bi bi-lock"></i>
                    </span>
                    <input type="password" id="password" name="password" [type]="showPassword()? 'text':'password'" class="form-control bg-light border-start-0 border-end-0 shadow-none" placeholder="••••••••" formControlName="password" [class.is-invalid]="f.password.touched&&f.password.invalid">
                    <button type="button" class="btn btn-link toggle-eye text-muted bg-light border border-start-0  shadow-none" (click)="togglePassword()" aria-label="Toggle password" [class.icon-invalid]="f.password.touched && f.password.invalid">
                        <i class="fa-regular" [ngClass]="showPassword()?'fa-eye-slash':'fa-eye'"></i>
                    </button>
                </div>
                @if (f.password.touched&&f.password.invalid) {
                    <div class="invalid-feedback d-block">
                        <span *ngIf="f.password.errors?.['required']">Vui lòng nhập mật khẩu.</span>
                        <span *ngIf="f.password.errors?.['minlength']">Mật khẩu phải có ít nhất 6 ký tự.</span>
                    </div>
                }
            </div>
            <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input shadow-none" id="remember" formControlName="remember"[style.cursor]="'pointer'">
                    <span class="form-check-label" for="remember">Ghi nhớ đăng nhập</span>
                </div>
                <a class="link-primary text-decoration-none fw-semibold small" 
                [routerLink]="'/auth/forgot-password'">Quên mật khẩu?</a>
            </div>
            
            <button type="submit" class="btn btn-primary w-100 py-2 fw-bold btn-press" [disabled]="loading()">
                <span *ngIf="!loading()">Đăng Nhập</span>
                <span *ngIf="loading()" class="d-inline-flex align-items-center gap-2">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Đang xử lý...
                </span>
            </button>
        </form>
        <div class="d-flex align-items-center my-4">
            <hr class="flex-grow-1">
            <span class="px-3 text-muted small">hoặc</span>
            <hr class="flex-grow-1">
        </div>

        <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-secondary d-flex align-items-center justify-content-center gap-2">
                <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" width="20" alt="Google">
                <span class="fw-semibold">Đăng nhập với Google</span>
            </button>

            <button type="button" class="btn btn-primary d-flex align-items-center justify-content-center gap-2 btn-facebook">
                <i class="fa-brands fa-facebook-f"></i>
                <span class="fw-semibold">Đăng nhập với Facebook</span>
            </button>
        </div>

        <p class="text-center mt-4 mb-0 small text-muted">
            Chưa có tài khoản?
            <a class="link-primary fw-semibold text-decoration-none" routerLink="/auth/signup">Đăng ký ngay</a>
        </p>
    </div>
</div>